<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="container">
    <br><br>
    <h1 class="header center orange-text">Starter Template</h1>
    <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
    <br><br>
<div class="z-depth-2" style="margin:-1.5rem 0 -1.5rem 0;">
     <blockquote style="padding:.003rem;border-left: .5rem solid #ee6e73;">
        <h4 style="margin:1rem;">{{ item_type|capfirst }}{{ item_list|pluralize:"s" }}</h4>
    </blockquote>
</div>

    <table class="responsive-table z-depth-5">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Stock Status</th>
            <th>Stock Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in item_list %}
            <tr>
                <td>{{ obj.sku }}</td>
                <td>{{ obj.content_object }}</td>
                <td>{{ obj.qty }}</td>
                <td>{{ obj.location }}</td>
                <td>{{ obj.stock_status }}</td>
                <td>{{ obj.stock_comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>